*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

a:focus, a:active {
    outline: none;
}

h1, h2, h3, h4, h5, h5, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

ul {
    list-style: none;
}

img, svg, video {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button, input {
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: none;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}