@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.wrapper {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px, 0px, 12px, 12px;
  position: relative;
}
.wrapper1 {
  position: absolute;
  bottom: -10px;
  margin: 0px 20px;
  border: 1px solid rgb(202, 202, 219);
  border-radius: 0px, 0px, 12px, 12px;
  background: rgb(202, 202, 219);
  height: 10px;
  width: 95%;
}

.section-cards {
  padding: 0px 30px 60px 30px;
}
.section-cards-btn {
  color: rgb(36, 163, 255);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}
.section-cards-btn span {
  font-size: 14px;
}

.section-cards-btn:hover {
  color: #F0145A;
  transition: all 0.2s;
}

.question {
  font-size: 30px;
  font-weight: 700;
  color: #F0145A;
  margin-top: 10px;
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 30px;
}

.wrapper-img {
  border-radius: 24px;
  background-color: white;
  padding: 14px;
  width: 92px;
  height: 92px;
}

.card-title {
  color: rgb(36, 163, 255);
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}
.card-text {
  color: white;
  font-size: 16px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .section-cards {
    padding: 0px 60px 60px 60px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 60px;
  }
  .question {
    margin-bottom: 60px;
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 1920px) {
  .section-cards {
    padding: 0px 160px 60px 160px;
  }
}
.information-people-wrapper {
  margin: 30px auto;
  width: 315px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.information-people img {
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}

.background {
  width: 315px;
  background: rgb(245, 245, 250);
  padding: 30px;
}
.background-btn {
  color: rgb(36, 163, 255);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.background-btn span {
  font-size: 12px;
}
.background-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #F0145A;
}

.dot {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.dot button {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: rgb(36, 163, 255);
  opacity: 20%;
}
.dot button:first-child {
  background-color: rgb(36, 163, 255);
  opacity: 100%;
}

.name-people {
  color: rgb(179, 179, 186);
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 6px;
}

.job-title {
  color: rgb(179, 179, 186);
  font-size: 14px;
}

@media (min-width: 768px) {
  .information-people-wrapper {
    width: 648px;
  }
  .information-people-wrapper img {
    border-radius: 12px 12px 0px 0px;
  }
  .background {
    width: 648px;
  }
  .background-text {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (min-width: 1024px) {
  .information-people-wrapper {
    width: 904px;
    flex-direction: row;
  }
  .information-people-wrapper img {
    width: 400px;
    height: 528px;
    border-radius: 12px 0px 0px 12px;
  }
  .background {
    width: 504px;
  }
}
@media (min-width: 1440px) {
  .information-people-wrapper {
    width: 1320px;
  }
  .information-people-wrapper img {
    height: 344px;
  }
  .background {
    width: 920px;
  }
}
@media (min-width: 1920px) {
  .information-people-wrraper {
    width: 1600px;
  }
  .information-people-wrraper img {
    height: 298px;
  }
  .background {
    width: 1200px;
  }
}
.bunner-wrapper-title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(50, 50, 100);
  text-align: center;
}

.img-bunner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 120px);
}
.img-bunner img {
  width: 100%;
  height: 120px;
}
.img-bunner :nth-child(n+7) {
  display: none;
}

@media (min-width: 768px) {
  .img-bunner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 120px);
  }
  .img-bunner a:nth-child(n+7) {
    display: block;
  }
}
@media (min-width: 1024px) {
  .img-bunner {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);
  }
}
@media (min-width: 1920px) {
  .bunner-wrapper {
    margin: 0px 100px;
  }
  .img-bunner a:first-child {
    border-radius: 12px 0px 0px 0px;
  }
}
.publications {
  background: rgb(245, 245, 250);
  padding: 30px;
}
.publications-btn {
  font-size: 14px;
  font-weight: 700;
  color: rgb(36, 163, 255);
}
.publications-btn span {
  font-size: 14px;
}
.publications-question {
  color: rgb(240, 20, 90);
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.publications-cards {
  display: grid;
  grid-template-rows: repeat(3, minmax(432px, auto));
  row-gap: 30px;
  grid-template-columns: 1fr;
}
.publications-text {
  padding: 30px;
  background-color: white;
}
.publications-card img {
  width: 100%;
}
.publications-card-subtitle {
  font-size: 16px;
  font-weight: 700;
  color: rgb(36, 163, 255);
}
.publications-card-data {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(179, 179, 186);
  padding-bottom: 15px;
  border-bottom: 3px solid rgb(230, 230, 240);
}
.publications-card-text {
  font-size: 14px;
  line-height: 22px;
}

.third {
  padding-bottom: 30px;
  border-bottom: 3px solid rgb(230, 230, 240);
}

@media (min-width: 768px) {
  .publications-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 30px;
  }
  .publications-cards :last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .publications-cards :last-child img {
    height: 200px;
  }
  .publications-text {
    height: 314px;
  }
  .third .publications-text {
    height: 188px;
  }
  .publications-question {
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .publications {
    padding: 60px;
  }
  .publications-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-bottom: 30px;
    border-bottom: 3px solid rgb(230, 230, 240);
  }
  .publications-cards :last-child {
    grid-column-start: 3;
    grid-column-end: 4;
    border: none;
  }
  .publications-cards :last-child img {
    height: auto;
  }
  .publications-text {
    height: 356px;
  }
  .third .publications-text {
    height: 356px;
  }
}
@media (min-width: 1440px) {
  .publications-text {
    height: 250px;
  }
  .third .publications-text {
    height: 250px;
  }
}
@media (min-width: 1920px) {
  .publications-text {
    height: 230px;
  }
  .third .publications-text {
    height: 230px;
  }
  .publications {
    margin-top: 60px;
    padding-left: 160px;
    padding-right: 160px;
  }
}
.gallery {
  margin-bottom: 30px;
}
.gallery-wrapper {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
  overflow: auto;
}
.gallery-item {
  color: rgb(179, 179, 186);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  flex-shrink: 0;
}
.gallery-item:first-child {
  color: #F0145A;
  margin-left: 30px;
}
.gallery-item:last-child {
  margin-right: 30px;
}
.gallery-item :hover {
  color: #F0145A;
  transition: 0.2s;
}
.gallery-text {
  margin: 0px 30px;
}
.gallery-text-title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: white;
}
.gallery-info {
  font-size: 17px;
  line-height: 30px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .gallery {
    margin-bottom: 60px;
  }
  .gallery-wrapper {
    padding-bottom: 60px;
  }
  .gallery-text {
    margin: 0px 60px;
  }
  .gallery-text-title {
    margin-top: 60px;
    font-size: 30px;
    line-height: 36px;
  }
  .gallery-info {
    font-size: 19px;
    line-height: 30px;
  }
  .gallery-item:last-child {
    margin-right: 60px;
  }
  .gallery-item:first-child {
    margin-left: 60px;
  }
}
@media (min-width: 1024px) {
  .gallery {
    display: flex;
    padding: 0px 60px;
    justify-content: center;
  }
  .gallery-wrapper {
    display: flex;
    overflow: visible;
    flex-direction: column;
    text-align: right;
    padding-right: 60px;
    padding-top: 14px;
    padding-bottom: 0;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }
  .gallery-text {
    align-items: center;
    flex-grow: 1;
    padding-top: 9px;
    margin-left: 60px;
    margin-right: 0px;
    width: 50%;
  }
  .gallery-text-title {
    margin-top: 0px;
  }
  .gallery-item:last-child {
    margin-right: 0px;
  }
  .gallery-item:first-child {
    margin-left: 0px;
  }
}
@media (min-width: 1440px) {
  .gallery {
    padding: 0px 180px;
  }
  .gallery-text {
    padding-top: 43px;
  }
}
@media (min-width: 1920px) {
  .gallery {
    padding: 0px 280px;
  }
  .gallery-text {
    padding-top: 73px;
  }
}

/*# sourceMappingURL=style.css.map */
