@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.wrapper {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px, 0px, 12px, 12px;
}


.section-cards {
    padding: 0px 30px 60px 30px;

    &-btn {
        color: rgba(36, 163, 255, 1);
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: none;

        span {
            font-size: 14px;
        }
    }
}

.section-cards-btn:hover{
    color: #F0145A;
    transition: all 0.2s;
}

.question {
    font-size: 30px;
    font-weight: 700;
    color: #F0145A;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 30px;
}

.wrapper-img {
    border-radius: 24px;
    background-color: white;
    padding: 14px;
    width: 92px;
    height: 92px;
}

.card {

    &-title {
        color: rgba(36, 163, 255, 1);
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: 700;
    }

    &-text {
        color: white;
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 768px) {

    .section-cards {
        padding: 0px 60px 60px 60px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 60px;
        row-gap: 60px;
    }

    .question {
        margin-bottom: 60px;
        font-size: 38px;
    }
}

@media (min-width: 1024px) {

    .cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 1920px) {

    .section-cards {
        padding: 0px 160px 60px 160px;
    }
}

.information-people {
    margin-top: 30px;

    &-wrapper {
        margin: 0px 30px;
        display: grid;
        grid-template-columns: 1fr, 1fr;
    }
}

.picture img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.background {
    background-color: rgba(245, 245, 250, 1);
    padding: 30px;

    &-btn {
        font-size: 14px;
        font-weight: 700;
        color: rgba(36, 163, 255, 1);

        & span {
            font-size: 14px;
        }
    }

    &-text {
        margin-top: 5px;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        color: rgba(240, 20, 90, 1);
    }
}

.dot {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;

    button {
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background-color: rgba(36, 163, 255, 1);
        opacity: 20%;

        &:first-child {
            background-color: rgba(36, 163, 255, 1);
            opacity: 100%;
        }
    }
}

.name-people {
    color: rgba(179, 179, 186, 1);
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 6px;
}

.job-title {
    color: rgba(179, 179, 186, 1);
    font-size: 14px;
}

@media (min-width: 768px) {

    .information-people-wrapper {
        margin: 0px 60px;
    }

    .picture img {
        border-radius: 12px 12px 0px 0px;
        width: 100%;
        height: 528px;
    }

    .background {
        width: 100%;

        &-text {
            font-size: 38px;
            line-height: 46px;
        }
    }
}

@media (min-width: 1024px) {

    .information-people-wrapper {
        display: flex;
        height: 528px;
    }

    .background {
        width: 100%;
    }

    .picture img {
        border-radius: 12px 0px 0px 12px;
        min-width: 400px;
    }
}

@media (min-width: 1440px) {

    .information-people-wrapper {
        height: 344px;
    }

    .picture img {
        height: 344px;
    }
}

@media (min-width: 1920px) {

    .information-people-wrraper {
        margin-left: 160px;
        margin-right: 160px;
    }
}


.bunner-wrapper-title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(50, 50, 100, 1);
    text-align: center;
}

.img-bunner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 120px);

    img {
        height: 120px;
        width: 100%;
    }

    & :nth-child(n+7) {
        display: none;
    }
}

@media (min-width: 768px) {

    .img-bunner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 120px);
    
        & a:nth-child(n+7) {
            display: block;
        }
    }
}

@media (min-width: 1024px) {

    .img-bunner {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 120px);
    }
}

@media (min-width: 1920px) {

    .bunner-wrapper {
        margin: 0px 100px;
    }

    .img-bunner a:first-child {
        border-radius: 12px 0px 0px 0px;
    }
}

.publications {
    background: rgba(245, 245, 250, 1);
    padding: 30px;

    &-btn {
        font-size: 14px;
        font-weight: 700;
        color: rgba(36, 163, 255, 1);

        span {
            font-size: 14px;
        }
    }

    &-question {
        color: rgba(240, 20, 90, 1);
        margin-top: 5px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
    }

    &-cards {
        display: grid;
        grid-template-rows: repeat(3, minmax(432px, auto));
        row-gap: 30px;
        grid-template-columns: 1fr;
    }

    &-text {
        padding: 30px;
        background-color: white;
    }

    &-card {

        
        img {
            width: 100%;
        }

        &-subtitle {
            font-size: 16px;
            font-weight: 700;
            color: rgba(36, 163, 255, 1);
        }

        &-data {
            margin-top: 15px;
            font-size: 12px;
            font-weight: 700;
            color: rgba(179, 179, 186, 1);
            padding-bottom: 15px;
            border-bottom: 3px solid rgba(230, 230, 240, 1);
        }

        &-text {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.third {
    padding-bottom: 30px;
    border-bottom: 3px solid rgba(230, 230, 240, 1);
}

@media (min-width: 768px) {

    .publications-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        column-gap: 30px;
        
        & :last-child {
            grid-column-start: 1;
            grid-column-end: 3;

            img {
                height: 200px;
            }
        }
    }

    .publications-text {
        height: 314px;
    }

    .third .publications-text {
        height: 188px;
    }

    .publications-question {
        font-size: 38px;
    }

}

@media (min-width: 1024px) {

    .publications {
        padding: 60px;

        &-cards {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            padding-bottom: 30px;
            border-bottom: 3px solid rgba(230, 230, 240, 1);

            & :last-child {
                    grid-column-start: 3;
                    grid-column-end: 4;
                    border: none;
            
                    img {
                        height: auto;
                    }
                }
        }
    }

    .publications-text {
        height: 356px;
    }

    
    .third .publications-text {
        height: 356px;
    }
}

@media (min-width: 1440px) {

    .publications-text {
        height: 250px;
    }

    .third .publications-text {
        height: 250px;
    }
}

@media (min-width: 1920px) {

    .publications-text {
        height: 230px;
    }

    .third .publications-text {
        height: 230px;
    }

    .publications {
        margin-top: 60px;
        padding-left: 160px;
        padding-right: 160px;
    }
}

.gallery {
    margin-bottom: 30px;

    &-wrapper {
        display: flex;
        gap: 30px;
        padding-bottom: 30px;
        overflow: auto;
    }

    &-item {
        flex-shrink: 0;
        color: rgba(179, 179, 186, 1);
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;

        &-active {
            color: #F0145A;
            margin-left: 30px;
        }

        &:last-child {
            margin-right: 30px
        }

        // & :hover {
        //     color: #F0145A;
        //     transition: 0.2s;
        // }
    }

    &-text {
        margin: 0px 30px;
    }

    &-text-title {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: white;
    }

    &-info {
        font-size: 17px;
        line-height: 30px;
        color: white;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {

    .gallery {
        margin-bottom: 60px;

        &-wrapper {
            padding-bottom: 60px;
        }

        &-text {
            margin: 0px 60px;

            &-title {
                margin-top: 60px;
                font-size: 30px;
                line-height: 36px;
            }
        }

        &-info {
            font-size: 19px;
            line-height: 30px;
        }

        &-item:last-child {
            margin-right: 60px;
        }

        &-item:first-child {
            margin-left: 60px;
        }
    }
}

@media (min-width: 1024px) {

    .gallery {
        display: flex;
        padding: 0px 60px;
        justify-content: center;

        &-wrapper {
            display: flex;
            overflow: visible;
            flex-direction: column;
            text-align: right;
            padding-right: 60px;
            padding-top: 14px;
            padding-bottom: 0;
            border-right: 4px solid rgba(255, 255, 255, 0.3);
        }

        &-text {
            align-items: center;
            flex-grow: 1;
            padding-top: 9px;
            margin-left: 60px;
            margin-right: 0px;
            width: 50%;

            &-title {
                margin-top: 0px;
            }
        }
    }

    .gallery-item:last-child {
        margin-right: 0px;
    }

    .gallery-item:first-child {
        margin-left: 0px;
    }
}

@media (min-width: 1440px) {

    .gallery {
        padding: 0px 180px;

        &-text {
            padding-top: 43px;
        }
    }
}

@media (min-width: 1920px) {

    .gallery {
        padding: 0px 280px;

        &-text {
            padding-top: 73px
        }
    }
}

.section-header {
    margin-bottom: 30px;
    background-image: url('./backgroundPictureMobile.png');
    background-size: contain;
    background-repeat: no-repeat;

    &-title {
        margin-top: 129px;
        color: white;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 38px;
        font-weight: 700;
        line-height: 46px;
        text-align: center;
    }
}

.header-opacity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(245, 245, 250, 0.2);
    padding: 10px 15px;

    &-phone {
        font-size: 16px;
        font-weight: 700;
        color: white;
        
    }
}

.languages {
    display: flex;
    gap: 14px;

    &-btn {
        font-size: 12px;
        font-weight: 700;
        color: rgba(179, 179, 186, 1);
    }
}

.header-desktop {
    display: none;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 30px 15px;

    &-img {
        object-fit: contain;
    }
}

.background-list {
    display: none;
}

.boorger-menu-btn {
    position: relative;
    width: 32px;
    height: 32px;

    &-line, &-line::after, &-line::before {
        display: block;
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: white;
    }

    &-line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-line::after {
        content: '';
        top: 6px;
    }

    &-line::before {
        content: '';
        top: -6px;
    }

    &:active {
        background-color: rgba(230, 230, 240, 1);
        border-radius: 8px;
        transition: 0.2s;

        & .boorger-menu-btn-line {
            background-color: black;

            &::after {
                content: '';
                background-color: black;
            }

            &::before {
                content: '';
                background-color: black;
            }
        }
    }
}

.vector {
    margin-top: 159px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 12px 15px;
    width: 42px;
    height: 42px;
    border: 2px solid white;
    border-radius: 50%;

    & img {
        object-fit: contain;
    }
}

.header-tablet {
    display: none;
}

@media (min-width: 768px) {
    .header-desktop {
        display: none;
    }

    .section-header {
        background-image: url("./backgroundTablet.png");
        background-size: contain;

        &-title {
            margin-top: 269px;
        }
    }

    .vector {
        margin-top: 417px;
    }

    .header-tablet {
        display: block;
        padding: 50px 60px;

        &-phone {
            font-size: 16px;
            font-weight: 700;
            color: white;
            margin-right: 6px;

            &::after {
                content: '\25CF';
                color: white;
            }
        }

        &-logo {
            margin-bottom: 30px;
        }

        &-main {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            & img {
                object-fit: contain;
            }
        }
    }

    .tablet-languages {
        display: flex;
        gap: 14px;
    }

    .header-mobile {
        display: none;
    }

    .adress {
        color: rgba(179, 179, 186, 1);
        font-size: 16px;
        margin-left: 6px;
        margin-right: 6px;

        &::after {
            content: '\25CF';
            color: white;
        }

        &::before {
            content: '\25CF';
            color: white;
        }
    }

    .navigation-tablet button {
        margin-left: 15px;

        &:first-child {
            margin-left: 0px;
        }

        & a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

@media (min-width: 1024px) {
    .header-tablet {
        display: none;
    }

    .header-desktop {
        padding: 50px 60px 0px;
        display: block;
    }

    .header-desktop-main {
        display: flex;
        justify-content: space-between;
    }

    .logoTablet {
        object-fit: contain;
    }

    .section-header {
        background-image: url("./backgroundDesktop.png");
        background-position: center;
        background-size: contain;
    }

    .section-header-title {
        margin-top: 245px;
    }

    .vector {
        margin-top: 289px;
    }
}

@media (min-width: 1440px) {
    .section-header-title {
        margin-top: 261px;
    }

    .vector {
        margin-top: 301px;
    }
}

@media (min-width: 1920px) {
    .header-tablet {
        padding: 50px 160px;
    }

    .section-header-title {
        margin-top: 361px;
    }

    .vector {
        margin-top: 405px;
    }
}

.footer-mobile {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto
}

.footer-adress {
    text-align: center;
}

.map {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 10px 0px 21px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(36, 163, 255, 1);
}

.facebook-footer {
    display: block;
    text-align: center;
}

.footer-phone {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px;
}

.email {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: rgba(36, 163, 255, 1);
}

.footer-text {
    margin-top: 30px;
    text-align: center;
    color: #b3b3ba;
    font-size: 16px;
}

.footer-desktop {
    display: none;
}

@media (min-width: 768px) {
    .footer-desktop {
        display: block;
        margin-top: 30px;

        &-phone {
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;

            &::after, &::before {
                content: '\25CF';
                color: rgba(179, 179, 186, 1);
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        &-text {
            color: rgba(179, 179, 186, 1);
            font-size: 16px;
        }

        &-adress::after {
            content: '\25CF';
            color: rgba(179, 179, 186, 1);
            margin-left: 10px;
            margin-right: 10px;
        }

        &-main {
            display: flex;
            justify-content: space-between;

            &-wrapper {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .desktop-email {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: rgba(36, 163, 255, 1);
    }

    .desktop-map {
        display: flex;
        text-decoration: none;
        align-items: center;
        color: rgba(36, 163, 255, 1);
        font-size: 12px;
        font-weight: 700;
    }

    .footer-mobile {
        display: none;
    }

    .location {
        display: flex;
    }

    .information {
        display: flex;
        margin-top: 21px;
    }
}
